input {
  border: 1px solid rgb(8, 8, 8);
  padding: 0.5rem;
  width: 200px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid rgb(8, 8, 8);
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(200px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestions li:hover,
.suggestions-active {
  background-color: gray;
}
